# Compiled output
/dist
/tmp
/out-tsc

# Dependencies
/node_modules
npm-debug.log
package-lock.json

# IDEs and editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Angular specific
/.angular/cache
/coverage
/typings

# Environment files
/src/environments/*.js
/src/environments/*.js.map

# System files
.DS_Store
Thumbs.db

# Debug logs
debug.log
