<div class="search-bar-overlay" #searchBarWrapper>
  <div
    class="glass-2 search-bar-wrapper"
    [class.rounded-bottomless]="searchService.isDropdownOpen()"
  >
    <input
      type="text"
      placeholder="Search locations..."
      [ngModel]="searchService.query()"
      (ngModelChange)="searchService.query.set($event)"
      (focus)="searchService.handleFocus()"
      (input)="searchService.handleInput()"
    />
    <button class="search-btn" (click)="onEnterKey()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="20"
        viewBox="0 0 24 24"
        width="20"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <circle cx="11" cy="11" r="8" />
        <line x1="21" y1="21" x2="16.65" y2="16.65" />
      </svg>
    </button>
  </div>

  <ul class="dropdown" *ngIf="searchService.isDropdownOpen()">
    @for (loc of searchService.filteredResults(); track $index) {
      <li
        (click)="onSelect(loc)"
        [class.selected]="$index === searchService.selectedIndex()"
      >
        {{ loc.name }}
      </li>
    }
  </ul>
</div>
